*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}

body{
    background-image:url(../Profile/carlnew.jpg);
    background-color:#0c0129;
    background-position:center;
    background-size:cover;
    background-blend-mode:medium;
    background-opacity: 0.5;
}

.heading{
    width:600px;
    height:300px;
    margin:auto;
    position:absolute;
    top:0px; bottom:0px; right:0px; left:0px;
}
.title1{
    display: block;
    margin-left: 470px;
    text-align: right;
    color:white;
    font-size:70pt;
    font-family:big john;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title2{
    display:block;
    margin-left: 330px;
    width:500px;
    margin-top:15px;
    text-align: right;
    color:white;
    font-size:20pt;
    font-family:serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.enter{
    margin: 30px auto;
    margin-left: 520px;
    display:block;
    width:180px;
    height:50px;
    border:3px solid white;
    background-color:rgba(255,255,255,0);
    color:white;
    font-family:sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 1000ms, color 1000ms;
}
.enter:hover{
    background-color:rgba(255,255,255,1);
    color:#222;
    cursor:pointer;
    font-size: 150%;
    
    transition: background-color 1000ms, color 1000ms;
}