/* Layout */

body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
	background: rgba(53, 103, 128, 0.96);
	background: url("../BackgroundPicture/ako.png");
	opacity: .50;
	/*background-size: 100%;*/
  	background-size: 100% 760px;
  	background-repeat: no-repeat;
}

#wrapper {
	background: url("../BackgroundPicture/ako.png");
	opacity: .5;
	background-size: cover;
	/*width: 95%;*/
	/*box-sizing: border-box;*/
}

#bg{
	background-size: cover;
}
