<!DOCTYPE html>
<html>
<head>
    <title>My Personal Webpage</title>
    <link href="about-style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="container">
		
		<div class="navigation">
			<ul>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="home">Home</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="about">About</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="resume">Resume</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="contact">Contact</a></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<a href="/"><img src="logo2.png" alt="logo"></a>
			</ul>
		</div>

		<div class="main">
			
			<div id="contents">
				
				<h1>What is up?</h1>
					<p>
						This is my first time to make a website and I want to make it like a personal website where I can showcase my skills and talents; and at the same time show my hobbies and what I usually do in my everyday living here on earth. I created this for my project in CMSC 126 and I really don't thought I'd enjoy it very much making this. Props to my awesome professor!
					</p>

				<h1>Why BisdaC?</h1>
					<p>
						The term "BisdaC" is a combination of two words "Bisdak" and "Code". I've come up with the idea to describe myself and that's the result. Bisdak derives from the expression "Bisayang Dakû". Dakû means "big" or "large. The expression means "Visayan to a LARGE degree." So when I say I'm Bisdak, it means "I'm very Visayan." It's an indicator of "how Visayan" a Visayan person is. The letter in C in "BisdaC" means Code which I'd want to emphasize my knowledge in coding and how big it plays a role in my life. I like to code in my free time. When I was a kid I really don't know what coding is and how it works but now I still don't know how it works lol, just joking, now I'm a little bit knowledgeable but I still want to improve my knowledge and master it. In other words:
					</p>

					<h2>I'M A CERTIFIED BISAYANG DA_CODE' !</h2>
				
				<h1>Who am I?</h1>
					<p>
						I am Charlito G. Piao Jr. born from the royal family of Maasin City, Southern Leyte. I want to describe myself as a person who is the most awkward yet mysteriously cool. I'm currently studying as a computer science student in University of the Philippines Cebu. I wanted to say "I'm your conscience" but it's mainstream instead I your friendly neighbor Spiderma... (aw dili d.i) Bisdak who knows how to code and likes adventures with family and friends.
					</p>
				<h2>I made a video of myself so that you can have fun laughing at my face :</h2>
					<div id="vid">
						<iframe width="620" height="345" src="https://www.youtube.com/embed/t5TYpMmZUL8?autoplay=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen">
						</iframe>
					</div>


				<h1>Free-time Escapade</h1>
				
				<div id="under">
					<h2>"Duwa tag Basketbol!"</h2>
					<p>
						What I'm proud of is that I'm the best basketball player here in UP, my family knows very well about that.
						People here in UP is too weak that I'd have to keep it low so that I'll not become too famous. If I become too famous who will take good care of my family? no one, that's why. Just joking, in my free time I play basketball and I'd imitate my most favorite players in NBA and PBA. I played baskketball since I was a kid, I thought I'd become one of the best but unfortunately I didn't, I was too busy playing pokemon and "dakpanay" to train.
					</p>

				<h2>Probinsyano Diary</h2>
					<p>
						This is not one of those probinsyano episode in tv. I'm inspired by my ate Nina, who is very good at making blogs and in those are beautiful photos which I admire because I'm also an enthusiast in Photography. I want to capture best moments and make sure I have copy of those beautiful moments. To make a different version of her contents, in other words I'm like copying it, lol, I also want to make blogs too. Visit her site and be amaze by her simplicity yet sophisticatedly beautiful lifestyle and adventures.
					</p>

				<h2>My Love for Fishing</h2>
					<p>
						Since I was a kid I'd go to the beach near our house, maybe half a kilometer walk, and go fish together with my family but usually with my father. I think fishing is in our blood already because my father's and uncle's favorite pass time is to fish. I'm proud to say that we have the most beautiful beach and we have what we call "Honasan" where you can go and find seashells and seafoods to eat.
					</p>
				</div>
				
			</div>
			<footer>Copyright &copy; 2017 Charlito Piao. All rights reserved</footer>

		</div>

	</div>

</body>
</html>