<!DOCTYPE html>
<html>
<head>
    <title>My Personal Webpage</title>
    <link href="contact-style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="container">
		
		<div class="navigation">
			<ul>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="home">Home</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="about">About</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="resume">Resume</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="contacts">Contact</a></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<a href="/"><img src="logo2.png" alt="logo"></a>
			</ul>
		</div>

		<!-- //ADD FEEDBACK MESSAGES -->
		<div class="main">

			<h1>Carl June Piao</h1>
			<a href="https://plus.google.com/u/0/107883658946988692026"><h2>@carljunepiao</h2></a>
			<div class="social">
				<a href="https://www.facebook.com/carljune.piao"><img src="fb.png" alt="fb"></a>
				<a href="https://twitter.com/junepiao"><img src="twit.png" alt="twit"></a>
				<a href="https://github.com/carljunepiao"><img src="github.png" alt="git"></a>
			</div>
			
			<div class="info">
				<p>Contact me here: </p>
				<div class="numbers">
					<p>Cellphone: +639061960435</p>
					<p>Telephone: 570-5472</p>
				</div>
			</div>
			

			<div class="container2">
				<h1>MESSAGE ME</h1>
				<h2>{{ messages.statusMsg }}</h2>
			  	<form action="/contacts" method="post">

			    	<label id="labels" for="fname">First Name</label>
				    <input type="text" id="fname" name="firstname" placeholder="Your name.." required>

				    <label id="labels" for="lname">Last Name</label>
				    <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

				    <label id="labels" for="country">Country</label>
				    
				    <select id="labels" name="country" required>
				      	<option value="philippines">Philippines</option>
				      	<option value="australia">Australia</option>
				      	<option value="canada">Canada</option>
				      	<option value="usa">USA</option>
				      	<option value="usa">United Kingdom</option>
				      	<option value="usa">Brazil</option>
				      	<option value="usa">France</option>
				      	<option value="usa">Singapore</option>
				      	<option value="usa">China</option>
				    </select>

				    <label id="labels" for="subject">Message</label>
				    <textarea id="subject" name="message" placeholder="Write something.." style="height:200px" required></textarea>

				    <input class="sbutton" type="submit" value="Submit">
			  	</form>
			</div>

			<footer>Copyright &copy; 2017 Charlito Piao. All rights reserved</footer>
		</div>
	</div>

</body>
</html>