<!DOCTYPE html>
<html>
    <head>
        <title>Pagsugat</title>
        <link rel="stylesheet" href="css-main.css" type="text/css">
    </head>
    <body>
        <div class="heading">
            <span class="title1">BisdaC</span>
            <span class="title2">
				<div>
					<p>"A certified bisdak with coding skills."</p>
				</div>
			</span>
            <button id="ebut" class="enter">
                SULOD BAI
            </button>
	
			<script type="text/javascript">
			    document.getElementById("ebut").onclick = function () {
			        location.href = "home";
			    };
			</script>

        </div>
    </body>
</html>