<!DOCTYPE html>
<html>
<head>
    <title>My Personal Webpage</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="container">
		
		<div class="navigation">
			<ul>
				<li style="border: 1px solid rgba(255,255,255,0.3);"><a href="index">Home</a></li>
				<li style="border: 1px solid rgba(255,255,255,0.3);"><a href="about">About</a></li>
				<li style="border: 1px solid rgba(255,255,255,0.3);"><a href="resume">Resume</a></li>
				<li style="border: 1px solid rgba(255,255,255,0.3);"><a href="contact">Contact</a></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<a href="/"><img src="logo2.png" alt="logo"></a>
			</ul>
		</div>

		<div class="main">
			<h3>Here is my Resume: </h3>
			<div class="intro">
				<p>Feel free to watch it!</p>
			</div>

			<iframe width="420" height="345" src="https://www.youtube.com/embed/f3aK7mucUCU?autoplay=1" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>

			<footer>Copyright &copy; 2017 Charlito Piao. All rights reserved</footer>
		</div>

	</div>

</body>
</html>