<!DOCTYPE html>
<html>
<head>
    <title>My Personal Webpage</title>
    <link href="resume-style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<div class="container">
		
		<div class="navigation">
			<ul>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="home">Home</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="about">About</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="resume">Resume</a></li>
				<li id = "navb" style="border: 1px solid rgba(255,255,255,0.3);"><a href="contact">Contact</a></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<a href="/"><img src="logo2.png" alt="logo"></a>
			</ul>
		</div>

		<div class="main">
			<h1>I'm Charlito G. Piao Jr.</h1>
				<p>
					Currently studying in University of the Philippines Cebu as a computer science student. I'm aspiring to become a successful developer first and eventually make my own startup company. I also want to keep learning even when I already finsihed my college degree as a computer scientist. Making the best out of anything and gaining experience is mu goal in every opportunity.
				</p>

			<h2>Below is my Resume:</h2>
			<embed src="Resume.pdf" width="1200px" height="1100px" />

			<footer>Copyright &copy; 2017 Charlito Piao. All rights reserved</footer>
		</div>

	</div>

</body>
</html>